biblioService/biblioService-webapp/src/main/resources/wsdl/LivreService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/LivreService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LivreService"
	targetNamespace="http://www.example.org/LivreService/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/LivreService/"
			xmlns:Q1="http://www.example.org/types">
			<xsd:import schemaLocation="../beans.xsd"
				namespace="http://www.example.org/types"></xsd:import>
			<xsd:element name="rechercherLivre">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="titre" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="auteur" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="genre" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="langue" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rechercherLivreResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="livre" type="Q1:Livre"
							minOccurs="0" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="voirDispo">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="isbn" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="voirDispoResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="dispoParBibliotheque"
							type="Q1:DispoParBibliotheque" minOccurs="1"
							maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerPretEnCours">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="utilisateurId" type="xsd:int"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerPretEnCoursResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="pret" type="Q1:Pret" minOccurs="0"
							maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="prolongerPret">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="pretId" type="xsd:int"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="prolongerPretResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="newDateRetourPrevue"
							type="xsd:date" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerPretEnRetard">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerPretEnRetardResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="pret" type="Q1:Pret" minOccurs="0"
							maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="voirDispoFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerPretEnCoursFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="prolongerPretFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLangues">
				<xsd:complexType>

				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLanguesResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="unbounded">

						<xsd:element name="langue" type="xsd:string"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getGenres">
				<xsd:complexType>

				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getGenresResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="unbounded">

						<xsd:element name="genres" type="xsd:string"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creerReservation">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="isbn" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="bibliotheque" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="utilisateurId" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creerReservationResponse">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creerReservationFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supprimerReservation">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="isbn" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="bibliotheque" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="utilisateurId" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supprimerReservationResponse">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supprimerReservationFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerReservation">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="utilisateurId" type="xsd:int"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listerReservationResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="listReservation"
							type="Q1:Reservation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nouveauPret">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="utilisateurId" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="exemplaireId" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nouveauPretResponse">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nouveauPretFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retourPret">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="id" type="xsd:int" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retourPretResponse">
				<xsd:complexType>

					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="premierSurListeAttente"
							type="Q1:Reservation" minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="miseAJourListesReservation">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="miseAJourListesReservationResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="listeNouvellePremiereReservation"
							type="Q1:Reservation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retourPretFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="miseAJourListesReservationFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="rechercherLivreRequest">
		<wsdl:part element="tns:rechercherLivre" name="parameters" />
	</wsdl:message>
	<wsdl:message name="rechercherLivreResponse">
		<wsdl:part element="tns:rechercherLivreResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="voirDispoRequest">
		<wsdl:part name="parameters" element="tns:voirDispo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="voirDispoResponse">
		<wsdl:part name="parameters" element="tns:voirDispoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerPretEnCoursRequest">
		<wsdl:part name="parameters" element="tns:listerPretEnCours"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerPretEnCoursResponse">
		<wsdl:part name="parameters"
			element="tns:listerPretEnCoursResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="prolongerPretRequest">
		<wsdl:part name="parameters" element="tns:prolongerPret"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="prolongerPretResponse">
		<wsdl:part name="parameters"
			element="tns:prolongerPretResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerPretEnRetardRequest">
		<wsdl:part name="parameters"
			element="tns:listerPretEnRetard"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerPretEnRetardResponse">
		<wsdl:part name="parameters"
			element="tns:listerPretEnRetardResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="voirDispoFault">
		<wsdl:part name="parameters" element="tns:voirDispoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerPretEnCoursFault">
		<wsdl:part name="parameters"
			element="tns:listerPretEnCoursFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="prolongerPretFault">
		<wsdl:part name="parameters"
			element="tns:prolongerPretFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLanguesRequest">
		<wsdl:part name="parameters" element="tns:getLangues"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLanguesResponse">
		<wsdl:part name="parameters"
			element="tns:getLanguesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGenresRequest">
		<wsdl:part name="parameters" element="tns:getGenres"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGenresResponse">
		<wsdl:part name="parameters" element="tns:getGenresResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="creerReservationRequest">
		<wsdl:part name="parameters" element="tns:creerReservation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="creerReservationResponse">
		<wsdl:part name="parameters"
			element="tns:creerReservationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="creerReservationFault">
		<wsdl:part name="parameters"
			element="tns:creerReservationFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="supprimerReservationRequest">
		<wsdl:part name="parameters"
			element="tns:supprimerReservation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="supprimerReservationResponse">
		<wsdl:part name="parameters"
			element="tns:supprimerReservationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="supprimerReservationFault">
		<wsdl:part name="parameters"
			element="tns:supprimerReservationFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerReservationRequest">
		<wsdl:part name="parameters" element="tns:listerReservation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listerReservationResponse">
		<wsdl:part name="parameters"
			element="tns:listerReservationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nouveauPretRequest">
		<wsdl:part name="parameters" element="tns:nouveauPret"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nouveauPretResponse">
		<wsdl:part name="parameters"
			element="tns:nouveauPretResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nouveauPretFault">
		<wsdl:part name="parameters" element="tns:nouveauPretFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="retourPretRequest">
		<wsdl:part name="parameters" element="tns:retourPret"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="retourPretResponse">
		<wsdl:part name="parameters"
			element="tns:retourPretResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="miseAJourListesReservationRequest">
		<wsdl:part name="parameters"
			element="tns:miseAJourListesReservation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="miseAJourListesReservationResponse">
		<wsdl:part name="parameters"
			element="tns:miseAJourListesReservationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="retourPretFault">
		<wsdl:part name="parameters" element="tns:retourPretFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="miseAJourListesReservationFault">
		<wsdl:part name="parameters"
			element="tns:miseAJourListesReservationFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LivreService">
		<wsdl:operation name="rechercherLivre">
			<wsdl:input message="tns:rechercherLivreRequest" />
			<wsdl:output message="tns:rechercherLivreResponse" />
		</wsdl:operation>
		<wsdl:operation name="voirDispo">
			<wsdl:input message="tns:voirDispoRequest"></wsdl:input>
			<wsdl:output message="tns:voirDispoResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:voirDispoFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listerPretEnCours">
			<wsdl:input message="tns:listerPretEnCoursRequest"></wsdl:input>
			<wsdl:output message="tns:listerPretEnCoursResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:listerPretEnCoursFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="prolongerPret">
			<wsdl:input message="tns:prolongerPretRequest"></wsdl:input>
			<wsdl:output message="tns:prolongerPretResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:prolongerPretFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listerPretEnRetard">
			<wsdl:input message="tns:listerPretEnRetardRequest"></wsdl:input>
			<wsdl:output message="tns:listerPretEnRetardResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLangues">
			<wsdl:input message="tns:getLanguesRequest"></wsdl:input>
			<wsdl:output message="tns:getLanguesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGenres">
			<wsdl:input message="tns:getGenresRequest"></wsdl:input>
			<wsdl:output message="tns:getGenresResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="creerReservation">
			<wsdl:input message="tns:creerReservationRequest"></wsdl:input>
			<wsdl:output message="tns:creerReservationResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:creerReservationFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="supprimerReservation">
			<wsdl:input message="tns:supprimerReservationRequest"></wsdl:input>
			<wsdl:output message="tns:supprimerReservationResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:supprimerReservationFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listerReservation">
			<wsdl:input message="tns:listerReservationRequest"></wsdl:input>
			<wsdl:output message="tns:listerReservationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nouveauPret">
			<wsdl:input message="tns:nouveauPretRequest"></wsdl:input>
			<wsdl:output message="tns:nouveauPretResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:nouveauPretFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retourPret">
			<wsdl:input message="tns:retourPretRequest"></wsdl:input>
			<wsdl:output message="tns:retourPretResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:retourPretFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="miseAJourListesReservation">
			<wsdl:input
				message="tns:miseAJourListesReservationRequest"></wsdl:input>
			<wsdl:output
				message="tns:miseAJourListesReservationResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:miseAJourListesReservationFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	
</wsdl:definitions>
