biblioWebapp/src/main/resources/wsdl/UtilisateurService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/UtilisateurService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UtilisateurService"
	targetNamespace="http://www.example.org/UtilisateurService/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/UtilisateurService/"
			xmlns:Q1="http://www.example.org/types">
			<xsd:import schemaLocation="../beans.xsd" namespace="http://www.example.org/types"></xsd:import>
			<xsd:element name="creerUtilisateur">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="nom" type="xsd:string"
							minOccurs="1" />
						<xsd:element name="prenom" type="xsd:string"
							minOccurs="1"></xsd:element>
						<xsd:element name="email" type="xsd:string"
							minOccurs="1"></xsd:element>
						<xsd:element name="mdp" type="xsd:string"
							minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creerUtilisateurResponse">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authentifierUtilisateur">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="email" type="xsd:string"
							minOccurs="1"></xsd:element>
						<xsd:element name="mdp" type="xsd:string"
							minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authentifierUtilisateurResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="utilisateur" type="Q1:Utilisateur"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modifierUtilisateur">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="id" type="xsd:int"
							minOccurs="1">
						</xsd:element>
						<xsd:element name="ancienMdp" type="xsd:string"
							minOccurs="1">
						</xsd:element>
						<xsd:element name="nouveauNom" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="nnouveauPrenom"
							type="xsd:string" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="nouveauEmail"
							type="xsd:string" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="nouveauMdp" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="nouveauMailRappel"
							type="xsd:boolean" minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modifierUtilisateurResponse">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supprimerUtilisateur">
				<xsd:complexType>
					<xsd:sequence minOccurs="1">

						<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
						<xsd:element name="mdp" type="xsd:string"
							minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supprimerUtilisateurResponse">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creerUtilisateurParamsFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="FaultMessages" type="xsd:string"
							minOccurs="1" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creerUtilisateurFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authentifierUtilisateurFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modifierUtilisateurFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supprimerUtilisateurFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modifierUtilisateurParamsFault">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">

						<xsd:element name="FaultMessages" type="xsd:string"
							minOccurs="1" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="creerUtilisateurRequest">
		<wsdl:part element="tns:creerUtilisateur" name="parameters" />
	</wsdl:message>
	<wsdl:message name="creerUtilisateurResponse">
		<wsdl:part element="tns:creerUtilisateurResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="authentifierUtilisateurRequest">
		<wsdl:part name="parameters"
			element="tns:authentifierUtilisateur"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="authentifierUtilisateurResponse">
		<wsdl:part name="parameters"
			element="tns:authentifierUtilisateurResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifierUtilisateurRequest">
		<wsdl:part name="parameters"
			element="tns:modifierUtilisateur"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifierUtilisateurResponse">
		<wsdl:part name="parameters"
			element="tns:modifierUtilisateurResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="supprimerUtilisateurRequest">
		<wsdl:part name="parameters"
			element="tns:supprimerUtilisateur"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="supprimerUtilisateurResponse">
		<wsdl:part name="parameters"
			element="tns:supprimerUtilisateurResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="creerUtilisateurFault">
		<wsdl:part name="parameters"
			element="tns:creerUtilisateurParamsFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="creerUtilisateurFault1">
		<wsdl:part name="parameters"
			element="tns:creerUtilisateurFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="authentifierUtilisateurFault">
		<wsdl:part name="parameters"
			element="tns:authentifierUtilisateurFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifierUtilisateurFault">
		<wsdl:part name="parameters"
			element="tns:modifierUtilisateurFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="supprimerUtilisateurFault">
		<wsdl:part name="parameters"
			element="tns:supprimerUtilisateurFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifierUtilisateurFault1">
		<wsdl:part name="parameters"
			element="tns:modifierUtilisateurParamsFault"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="UtilisateurService">
		<wsdl:operation name="creerUtilisateur">
			<wsdl:input message="tns:creerUtilisateurRequest" />
			<wsdl:output message="tns:creerUtilisateurResponse" />
			<wsdl:fault name="fault"
				message="tns:creerUtilisateurFault"></wsdl:fault>
			<wsdl:fault name="fault1"
				message="tns:creerUtilisateurFault1"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="authentifierUtilisateur">
			<wsdl:input message="tns:authentifierUtilisateurRequest"></wsdl:input>
			<wsdl:output
				message="tns:authentifierUtilisateurResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:authentifierUtilisateurFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modifierUtilisateur">
			<wsdl:input message="tns:modifierUtilisateurRequest"></wsdl:input>
			<wsdl:output message="tns:modifierUtilisateurResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:modifierUtilisateurFault"></wsdl:fault>
			<wsdl:fault name="fault1"
				message="tns:modifierUtilisateurFault1"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="supprimerUtilisateur">
			<wsdl:input message="tns:supprimerUtilisateurRequest"></wsdl:input>
			<wsdl:output message="tns:supprimerUtilisateurResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tns:supprimerUtilisateurFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
